version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    # ใช้ environment variables ในการตั้งค่า (สามารถเพิ่ม SECRET_KEY หรือ DB_PASSWORD ที่นี่ได้ในอนาคต)
    environment:
      - DEBUG=1
    # ตั้งค่าให้ log output แสดงผลทันที (ไม่ buffer)
    tty: true
    stdin_open: true
    networks:
      - app_network
    extra_hosts:
      - "DESKTOP-TIC1FOD:172.25.0.1"

networks:
  app_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16
          gateway: 172.25.0.1